<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Server=21ebc880-ac5a-4a57-a6d9-a4fb007bf525.sqlserver.sequelizer.com;Database=db21ebc880ac5a4a57a6d9a4fb007bf525;User ID=uwjfyicwnqzyclrs;Password=k2Pp4ZGo2vYErcwFqYNP6beTuqXJ7odrzvKFti35thuKCHLDrwRpU8UjV53Lb7qM;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>